/*font-family: 'Oswald', sans-serif;
font-family: 'Courgette', cursive;
*/ 

header {
    background-image: url("../img/header1.jpg"); /*already filtered header */
    background-position: center;
    background-repeat: none;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

nav {
    border-bottom: 1px grey solid;
    position: fixed;   
}
header .cuizine {
    font-family: 'Courgette', cursive;
}
/*
.header-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 0;

}
*/
h3 .cuizine {
    color: white;
}
/*
header {
    text-align: center;  
    margin-bottom: 100px;
}
*/
.cuizine {
    color: white;
}

.logo {
    text-align: center;
    margin-top: -300px;
    margin-bottom: 80px;
    color: white;
    font-family: 'Courgette', cursive;
    
    
}
#text {
    font-size: 30px;
}
#logohead {
    width: 100px;
    height: 100px;
}


#article {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-family: 'Courgette', cursive;
}
.row.two {
    margin-bottom: 15px;    
}
.row.two h3 {
    margin-top: 10px;
}
.row.three {
    margin-bottom: 15px;
}
.row.three h3 {
    margin-top: 10px;
}
.row.four {
    margin-bottom: 15px;
}
.row.four h3 {
    margin-top: 10px;
}
footer {
background-color: black;
color: white;
padding-left: -15px;
padding-bottom: 40px;

}
footer ul li  {
color: white;
list-style: none;
text-decoration: underline;
list-style-type: none;

}
footer ul li a {
    text-decoration: underline;
    color: white;
}
#pull-right {
    float: left;
}

body {
    font-family: 'Oswald', sans-serif;
}


#inscrire {
    margin-top: 32px;
}
h4 {
    margin-top: 30px;
}
#white {
    color: white;
}
.white {
    color: white;
}