/*font-family: 'Oswald', sans-serif;
font-family: 'Courgette', cursive;
*/ 

header {
    background-image: url("../img/articles/suzette/suzette-header.jpg"); /*already filtered header */
    background-position: center;
    background-repeat: none;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-size: cover;
    padding-bottom: 200px;
}
nav {
    border-bottom: 1px grey solid;
    position: fixed; 

}
.recherche {
    margin-top: -400px;
}
form .buts {
    margin-top: -16px;
    
    
}
.row .mathieu {
    margin-top: 20px;
    
}
.row.suzette {
    margin-top: 20px;
}
.hater {
    text-align: center;
    font-family: 'Courgette', cursive;
}
.hater p{
    text-align: center;
    color: grey;
    
}
.img-fluid {
    float: left;
    width: 100px;
    height: 100px;
}
.cuizine {
    font-family: 'Courgette', cursive;
    
}
h1  {
    margin-top: 100px;
}
body {
    font-family: 'Oswald', sans-serif;
}



footer {
    background-color: black;
    
}
footer ul{
    margin: 0;
    padding: 0;
}
footer ul li {
    list-style-type: none;
    
}

footer ul li a {
    text-decoration: underline;
    color: white;
}
body {
    *font-family: 'Oswald', sans-serif;
}
#logoblack {
    size: 100px 100px;
}

    
.courgette {
    font-family: 'Courgette', cursive;
}
footer h3 {
    color: white;
}
footer h5 {
    color: white;
}
.black {
    background-color: black;
    background-size: cover;
}
.btn-light {
    border-color: black;
}
footer div i {
    background-color: white;
    padding: 3px 5px 3px 5px;
}