/*font-family: 'Oswald', sans-serif;
font-family: 'Courgette', cursive;
*/ 

header {
    background-image: url("../img/team/team.jpg"); /*already filtered header */
    background-position: center;
    background-repeat: none;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-size: cover;
    padding-bottom: 200px;
      
}
nav {
    border-bottom: 1px grey solid;
    position: fixed; 
}
.headerbackground {
    margin-top: 20px;
}
body {
    font-family: 'Oswald', sans-serif;
}

.cuizine {
    font-family: 'Courgette', cursive;
  
    
}

.courgette {
    font-family: 'Courgette', cursive;
   
}
.name {
    text-align-last: center;
}
p {
    text-align: center;
}
.img-fluid {
    border-radius: 50%;
}

footer {
    background-color: black;
    background-size: cover;
}
footer ul{
    margin: 0;
    padding: 0;
}
footer ul li {
    list-style-type: none;
    
}

footer ul li a {
    text-decoration: underline;
    color: white;
}
body {
    *font-family: 'Oswald', sans-serif;
}
    
.courgette {
    font-family: 'Courgette', cursive;
}
footer h3 {
    color: white;
}
footer h5 {
    color: white;
}
.black {
    background-color: black;
}
.btn-light {
    border-color: black;
}
footer div i {
    background-color: white;
    padding: 3px 5px 3px 5px;
}